.main{
    margin-top: 100px;
}
.plus{
    font-size: 50px;
    color: red;
}

hr{
    width: 250px;
    margin: 0;
}

.topItem{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
}


.back{
    display: flex;
    justify-content: center;
}


.tripPlan{
    box-sizing: border-box;
    border: 3px groove rgb(182, 88, 88);
    width: 300px;
    height : 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    margin-top: 50px;
    margin-left: 700px;
}


.tripHead{
    font-size: 40px;
    color: lightcoral;
    text-shadow: 1px 1px 1px lightcoral;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
}

.completedTask{
    color: red;
    font-size: 28px;
    text-decoration: line-through;
    text-align: center;
    margin-top: 40px;
}

.pendingTask{
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}

.addButton{
    font-size: 40px;
    font-weight: lighter;
    color: gray; 
    margin-top: 50px;
    margin-left: 225px;  
}